<h1>Elie の Ruby on Rails 学習記録 (･ω･)</h1>
<p>このWebサイトではElieが Ruby on Rails の学んだことを記録していて、今後Ruby on Railsを学ぶ方のために少しでも参考になればと思います(･ω･)</p>

<hr>

<h2>
 このWebサイトで学べること一覧( *¯ ꒳¯*)
</h2>

<ul>
<li> Rubyってなに？ </li>
<li> MVCとは？ </li>
<li> ルーティングからコントローラーへの処理の流れ </li>
<li> レンダリングでおしゃれに (*‘ω‘ *) </li>
<li> ヘルパー関数はセキュリティ対策にもなる！ </li>
<li> DBをつかってみよう！ </li>
<li> ログイン機能を実装してみる </li>
<li><strong>↓ Elie独自の発展編(=ↀωↀ=)✧ ↓</strong> </li>
<li> DBでSupabaseを使ってみよう！ </li>
<li> Vercelにデプロイしてみよう！ </li>
<li> このWebサイトはどのように作られてる？ </li>
<li> クラウド(AWS)を使ってみる☁ </li>
<li> クラウド(GoogleCloud)を使ってみる☁ </li>
</ul>
<p>また今後も追加するかも(*ˊᵕˋ*)</p> 

<hr>

<h2>筆者の環境とセットアップ ( ˙ω​˙ )ゞ</h2>
<p>
まず、筆者の環境はGoogle Cloud Shellを利用してます。Cloud Shellは初期セットアップ済みで簡単に始められるのでオススメです!
</p>
<p>
Google Cloudを利用したことない方はおそらく約4万5千円分ぐらいの無料クレジットが付与されると思うので、その枠で十分に開発が可能です。
</p>
<h2>Cloud Shellの起動</h2>
<p>Google Cloud Console にログインして、右上の<strong>Cloud Shell アイコン</strong> をクリックするとターミナルが開くと思います。</p>
<p>以下のコマンドで環境をチェックしましょう。バージョンが表示されたらインストール済みということなのでそのまま開発をすることができます</p>

<pre>
$ ruby -v
ruby 3.4.7 
$ gem -v
3.6.9
</pre>

<h2>WSLやmacOSでのインストールは以下のWebサイトなどを参考にしてください m(_ _*)m </h2>
<p>
<a href="https://www.ruby-lang.org/ja/documentation/installation/" target="_blank">www.ruby-lang.org</a>
</p>
<p>
<a href="https://dexall.co.jp/articles/?p=1540" target="_blank">dexall.co.jp</a>
</p>

<hr>

<h2>Next! Rubyってなに？</h2>
<ul>
  <li><a href="/guides/ruby_overview">Rubyってなに？(゜-゜)</a></li>
</ul>


