<h1>Rails Controller の役割</h1>
<p>
 コントローラーとはRoutingから受け取ったリクエストを処理して、ModelとViewを仲介する役割を持つ。
</p>

<h2>サンプルコード(TasksController)</h2>
<pre>
<%= raw File.read(Rails.root.join("app/controllers/mvc_controller.rb")) %>
</pre>