<h1>Elie の Ruby on Rails 学習記録 (･ω･)</h1>
<p>このWebサイトではElieが Ruby on Rails の学んだことを記録していて、今後Ruby on Railsを学ぶ方のために少しでも参考になればと思います(･ω･)</p>

<h2>
 このWebサイトで学べること一覧( *¯ ꒳¯*)
</h2>
<p>
 ・Rubyってなに？
 ・MVCとは？
 ・ルーティングからコントローラーへの処理の流れ
 ・レンダリングでおしゃれに (*‘ω‘ *)
 ・ヘルパー関数はセキュリティ対策にもなる！
 ・DBをつかってみよう！
 ・ログイン機能を実装してみる
 <strong>↓ Elie独自の発展編(=ↀωↀ=)✧ ↓</strong>
 ・DBでSupabaseを使ってみよう！
 ・Vercelにデプロイしてみよう！
 ・このWebサイトはどのように作られてる？
 ・クラウド(AWS)を使ってみる☁
 ・クラウド(GoogleCloud)を使ってみる☁
 また今後も追加するかも(*ˊᵕˋ*)
</p>



